*{
    margin:0;
    padding:0;
    
}

.about{
    width: 100%;
    min-height: 100%;
    background-color: black;
    padding-top: 150px;
}
.about h2{
  color: white;
  font-size: 60px;
  text-align: center;
}

.about-container{
width: 70%;
height: 85%;
background-color: #957D67;
padding: 20px;
margin:auto;
border: 1px solid white;
border-radius: 20px;

}


.about-container p{
    padding: 22px;
    color: white;

}

.gallery{
    height: 100%;
    width: 100%;
    background-color: black;
    padding-top: 16em;

}

.gallery h1{
    text-align: center;
    font-size: 50px;
    color: white;
    padding-bottom: 50px;
}
.gallery img{
    width: 20%;
    margin: 27px;
    border: 4px solid #957D67;
    border-radius: 40px;
    

}

.roadmap{
    padding-top: 90px;
    width: 100%;
    height:100%;
    background-color: black;
}

.roadmap h1{
    text-align: center;
    font-size: 50px;
    color: white;

}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background: black;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: goldenrod;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: black;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: blue;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid gold;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent gold;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: gold;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
.team{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow-x: auto;
}
.team h1{
    font-size: 60px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.team-gallery{
    margin:5px;
    width: 430px;
    float: left;
}

.team-gallery img{
    width:100%;
    height: 63%;
    padding-bottom: 20px;
    

}

.team-gallery h2{
    text-align: center;
    font-size: 35px;
    color: aliceblue;
}
.team-gallery h4{
 text-align: center;
 color: whitesmoke;
 font-size: 20px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.space{
    height: 60%;
    background-color: black;
}

.footer{

    width: 100%;
    background-color: #6B5B54;
    padding: 5px;
}

.footer h4{
    text-align: center;
    color: white;
    font-size: 25px;
}