*{
    margin: 0;
    padding: 0;
}

.Faq-container{
    width: 100%;
    min-height: 100%;
    background-color: black;
    padding-top: 18em;

}

h2{
   
    color: white;
    font-size: 60px;
    text-align: center;
    padding-bottom: 2rem;
}

.layout { 

            width: 600px; 
            margin: auto; 
            

        } 

        .accordion{ 

            padding: 10px; 
            margin-top: 10px; 
            margin-bottom: 10px; 
            background-color: #957D67; 
            border-radius: 10px; 

        } 

        .accordion__question p{ 

            margin: 5px; 
            padding: 0; 
            color: white;
            font-size: 28px; 

        } 

        .accordion__answer p{ 

            margin: 6px; 
            margin-right: 4px;

            padding: 11px; 

            font-size: large; 

            color: white;

            background: rgb(86, 86, 100); 

            border-radius: 10px;  

        } 

        .accordion:hover{ 

            cursor: pointer; 

        } 

        .accordion__answer { 

            display: none; 
            color: white;

        }  

        .accordion.active .accordion__answer { 

            display: block; 
            color: white;

        }

        .social-media{
            width: 100%;
            height: 60%;
            background-color: black;
        }

        .social-media h1{
            text-align: center;
            color: white;
            padding-bottom: 5em;
        }
        .fa {
         padding: 20px;
          font-size: 20px;
          width: 50px;
          text-decoration: none;
          text-align: center;
          
        
        }
        .fa:hover {
        opacity: 0.7;
       }

       .fa-instagram{
        background: #3B5998;
        color: white;
        text-align: center;
       }

      .fa-twitter {
       background: #55ACEE;
       color: white;
       }

