*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    font-family: 'Cabin Sketch', cursive;
     font-family: 'Redressed', cursive;
    overflow-x: hidden;
}

.header{
    width: 100%;
    height:100%;
    background-color: black;
}

nav{
    display:flex;
    align-items: center;
    padding: 2% 6%;
    justify-content: space-between;
    padding-top: 1px;
}

nav img{
    height: 220px;
    width: 255px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}


.nav-links ul li a{
    font-size: 30px;
    text-decoration: none;
    color: white;
}

a:hover{
    border-bottom:.1em solid goldenrod

}


.text-box{
    width: 90%;
    transform: translate( -50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
}

.text-box h1 {
    font-size: 80px;
    color: goldenrod;
}

.text-box p{
    font-size: 20px;
    
}
.button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    padding: 9px 30px;
    font-size: 35px;
    margin-top: 15px;
}

.button:hover{
    background-color: gold;
    border: 15px;
    transition: 3s;
}